.content {
  display: flex;
  width: 100%;
  background-color: gainsboro;
  margin-top: 3rem;
  
}

.content img {
  padding: 20px;
}

.content h1 {
  padding: 20px;
}

.image {
  width: 48%;
}

.image_heading {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 2%;
}

.image_heading h1 {
  margin-top: 5%;
  align-items: center;
  text-align: center;
  padding-top: 20%;
}

@media (max-width: 500px)
/* for mobileview */

{
  .content {
    flex-direction: column;
    margin-top: 40rem;
  }

  .image,
  .image_heading {
    width: 100%;
  }

  .image img {
    padding: 10px;
  }

  .image_heading h1 {
    padding-top: 10%;
  }
}


@media  (max-width: 900px)  {
  .content {
    flex-direction: column;
    margin-top: 20rem ;
   padding: 0  60px 10px 20px ;
   box-sizing: border-box;
  }

  .image,
  .image_heading {
    width: 100%;
    box-sizing: border-box;
    padding: 10%;

  }

  .image img {
    margin: 70px;
  }

  .image_heading h1 {
    padding: 0% 5% 5x 5%;
    border: 1px solid black;
  }

  

}
