.main_heading{
  padding: 25px ;
  background-color: rgb(189, 173, 173);
 

}

.main_heading h1{
  text-align: center;

}


.main_heading p{
  margin-top: 20px;
  padding:  0 30px ;
  

}




@media (max-width: 500px) {

  .main_heading h1 {
    font-size: 28px;
  }
  .main_heading p {
    font-size: 16px;
  }

  .main_heading h1 {
    padding-top: 5%;
    width: 100%;
    
  }

  .main_heading p {
    margin: 20px 0;
  }

  .main_heading {
    width: 100vw;
   
    padding: 20px;
    margin-right: 0;
  }
}

@media (max-width: 900px) /* this is tablet view */ {
  .main_heading h1 {
    font-size: 14px;
  }
  .main_heading p {
    font-size: 10px;
  }
  .main_heading h1 {
    padding-top: 5%;
  }

  .main_heading p {
    padding-top: 2%;
    padding-bottom: 5%;
    margin: 20px 0;
  }

  .main_heading {
    width: 90%;
    box-sizing: border-box;
    padding: 0px;
    margin-right: 0;
  }
}

